*{
    overflow: auto;
    text-decoration: none;
  }
  .topbar{
    background-color: rgb(255, 174, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .topbar a{
    text-decoration: none;
    margin: 5px;
    font-size: 15px;
    font-weight: 700;
    color: black;
  }
  .topItems{
    padding: 7px;
  }
  .topItems a i {
    margin-right: 5px;
   
  }
  
  .location{
    font-size: 14px;
    font-weight: 700;
  }

  .heading{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .heading h1{
      text-align: center;
      color: rgb(24, 209, 24)
  }
  

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
    text-align: center;
    
}
.child{
    margin: 5px;
    border: 1px solid black;
    padding: 3px;
    background-color: coral;
    color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}